/* line 56, ../sass/_function.sass */
.thom_picture {
  background-image: url("/image/thom.jpg");
}

/* line 56, ../sass/_function.sass */
.jonny_picture {
  background-image: url("/image/jonny.jpg");
}

/* line 56, ../sass/_function.sass */
.colin_picture {
  background-image: url("/image/colin.jpg");
}

/* line 56, ../sass/_function.sass */
.phil_picture {
  background-image: url("/image/phil.jpg");
}

/* line 4, ../sass/base.sass */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 9, ../sass/base.sass */
body, p, label {
  margin: 0;
}

/* line 12, ../sass/base.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 15, ../sass/base.sass */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 22, ../sass/base.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 26, ../sass/base.sass */
[hidden], template {
  display: none;
}

/* line 29, ../sass/base.sass */
a {
  background: transparent;
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

/* line 35, ../sass/base.sass */
a:active, a:hover {
  outline: 0;
}

/* line 38, ../sass/base.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 41, ../sass/base.sass */
b, strong {
  font-weight: bold;
}

/* line 44, ../sass/base.sass */
dfn {
  font-style: italic;
}

/* line 47, ../sass/base.sass */
h1 {
  margin: 0;
  font-size: 2em;
}

/* line 51, ../sass/base.sass */
mark {
  color: #000;
  background: #ff0;
}

/* line 55, ../sass/base.sass */
small {
  font-size: 80%;
}

/* line 58, ../sass/base.sass */
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 64, ../sass/base.sass */
sup {
  top: -0.5em;
}

/* line 67, ../sass/base.sass */
sub {
  bottom: -0.25em;
}

/* line 70, ../sass/base.sass */
img {
  border: 0;
}

/* line 73, ../sass/base.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 76, ../sass/base.sass */
figure {
  margin: 1em 40px;
}

/* line 79, ../sass/base.sass */
hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 85, ../sass/base.sass */
pre {
  overflow: auto;
}

/* line 88, ../sass/base.sass */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 92, ../sass/base.sass */
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

/* line 97, ../sass/base.sass */
button {
  overflow: visible;
}

/* line 100, ../sass/base.sass */
button, select {
  text-transform: none;
}

/* line 103, ../sass/base.sass */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 107, ../sass/base.sass */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 110, ../sass/base.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 114, ../sass/base.sass */
input {
  line-height: normal;
}

/* line 117, ../sass/base.sass */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 123, ../sass/base.sass */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 126, ../sass/base.sass */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 132, ../sass/base.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 135, ../sass/base.sass */
fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

/* line 140, ../sass/base.sass */
legend {
  padding: 0;
  border: 0;
}

/* line 144, ../sass/base.sass */
textarea {
  overflow: auto;
}

/* line 147, ../sass/base.sass */
optgroup {
  font-weight: bold;
}

/* line 150, ../sass/base.sass */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 154, ../sass/base.sass */
td, th {
  padding: 0;
}

/* line 157, ../sass/base.sass */
iframe {
  border: none;
}

/* line 160, ../sass/base.sass */
.blog-gotop {
  position: fixed;
  bottom: 100px;
  right: 36px;
  list-style: none;
  height: 50px;
  width: 50px;
  background-color: #556375;
  border-radius: 5px;
  z-index: 40;
}
/* line 170, ../sass/base.sass */
.blog-gotop > a {
  color: #ffffff;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 50px;
  text-align: center;
  transform: scale(0.8);
}
/* line 179, ../sass/base.sass */
.blog-gotop:hover {
  background-color: #9975ab;
}
