/* line 56, ../sass/_function.sass */
.thom_picture {
  background-image: url("/image/thom.jpg");
}

/* line 56, ../sass/_function.sass */
.jonny_picture {
  background-image: url("/image/jonny.jpg");
}

/* line 56, ../sass/_function.sass */
.colin_picture {
  background-image: url("/image/colin.jpg");
}

/* line 56, ../sass/_function.sass */
.phil_picture {
  background-image: url("/image/phil.jpg");
}

/* line 56, layout/*.png */
.layout-sprite, header.index > div, #main_div > div.bloglist > a.one > div.title > h1 {
  background-image: url('../images/layout-s26af32a2b2.png');
  background-repeat: no-repeat;
}

/* line 12, ../sass/layout.sass */
header.index {
  width: 100%;
  height: 300px;
  background-color: #3a424d;
}
/* line 16, ../sass/layout.sass */
header.index > div {
  width: 1180px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  background-position: 0 -32px;
}
/* line 22, ../sass/layout.sass */
header.index > div > h1 {
  color: white;
  position: absolute;
  top: 60px;
  left: 20px;
}
/* line 27, ../sass/layout.sass */
header.index > div > span {
  color: #858e97;
  position: absolute;
  top: 110px;
  left: 20px;
}

/* line 32, ../sass/layout.sass */
body {
  background: url("../images/layout/signed_bg.jpg") repeat 0 0;
}

/* line 34, ../sass/layout.sass */
#main_div {
  width: 1180px;
  margin: 0 auto;
}
/* line 37, ../sass/layout.sass */
#main_div > div.bloglist {
  width: 100%;
}
/* line 39, ../sass/layout.sass */
#main_div > div.bloglist > a.one {
  display: block;
  background-color: #FFFFFF;
  margin: 30px 0;
  padding: 50px;
  border-radius: 2px;
  -moz-box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
  -webkit-box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
  box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
}
/* line 46, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div {
  width: 100%;
  overflow: hidden;
}
/* line 49, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div > * {
  float: left;
}
/* line 52, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div.title > h1 {
  font-size: 20px;
  padding-left: 40px;
  background-position: 0 0;
  color: #454f59;
}
/* line 57, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div.title > span {
  line-height: 22px;
  float: right;
  color: #858e97;
}
/* line 61, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div.content {
  padding: 20px 0 10px;
}
/* line 63, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div.content > p {
  color: #858e97;
}
/* line 66, ../sass/layout.sass */
#main_div > div.bloglist > a.one:hover h1, #main_div > div.bloglist > a.one:hover p, #main_div > div.bloglist > a.one:hover span {
  text-decoration: underline;
}

/* line 69, ../sass/layout.sass */
header.page {
  width: 100%;
  background-color: #3a424d;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 75, ../sass/layout.sass */
header.page > div {
  width: 1180px;
  height: 40px;
  margin: 0 auto;
}
/* line 79, ../sass/layout.sass */
header.page > div > h1 {
  height: 40px;
  line-height: 40px;
  float: left;
  color: #FFFFFF;
  font-size: 20px;
}
/* line 85, ../sass/layout.sass */
header.page > div > a {
  float: right;
  height: 100%;
  line-height: 40px;
  padding: 0 20px;
  display: block;
  color: #ffffff;
  background-color: #556375;
  font-size: 14px;
}
/* line 94, ../sass/layout.sass */
header.page > div > a:hover {
  background-color: #9975ab;
}

/* line 96, ../sass/layout.sass */
.blogiframe {
  width: 100%;
  margin-top: 40px;
  display: inline-block;
}
/* line 100, ../sass/layout.sass */
.blogiframe > .nav {
  padding: 10px;
  margin: 20px 0;
  background-color: #FFFFFF;
  border-radius: 2px;
  -moz-box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
  -webkit-box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
  box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
}
/* line 106, ../sass/layout.sass */
.blogiframe > .nav > a {
  color: #858e97;
}
/* line 108, ../sass/layout.sass */
.blogiframe > .nav > a:hover {
  color: #9975ab;
}
/* line 110, ../sass/layout.sass */
.blogiframe > .nav > span {
  color: #454f59;
  padding: 0 10px;
}
/* line 113, ../sass/layout.sass */
.blogiframe > iframe {
  width: 100%;
  background-color: #FFFFFF;
  -moz-box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
  -webkit-box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
  box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
}
