/* line 56, ../sass/_function.sass */
.thom_picture {
  background-image: url("/image/thom.jpg");
}

/* line 56, ../sass/_function.sass */
.jonny_picture {
  background-image: url("/image/jonny.jpg");
}

/* line 56, ../sass/_function.sass */
.colin_picture {
  background-image: url("/image/colin.jpg");
}

/* line 56, ../sass/_function.sass */
.phil_picture {
  background-image: url("/image/phil.jpg");
}

/* line 56, layout/*.png */
.layout-sprite, header.index > div, #main_div > div.bloglist > a.one > div.title > h1 {
  background-image: url('../images/layout-s26af32a2b2.png');
  background-repeat: no-repeat;
}

/* line 10, ../sass/layout.sass */
header.index {
  width: 100%;
  height: 300px;
  background-color: #3a424d;
}
/* line 14, ../sass/layout.sass */
header.index > div {
  width: 1180px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  background-position: 0 -32px;
}
/* line 20, ../sass/layout.sass */
header.index > div > h1 {
  color: white;
  position: absolute;
  top: 60px;
  left: 20px;
}
/* line 25, ../sass/layout.sass */
header.index > div > span {
  color: #858e97;
  position: absolute;
  top: 110px;
  left: 20px;
}

/* line 30, ../sass/layout.sass */
body {
  background: url("../images/layout/signed_bg.jpg") repeat 0 0;
}

/* line 32, ../sass/layout.sass */
#main_div {
  width: 1180px;
  margin: 0 auto;
}
/* line 35, ../sass/layout.sass */
#main_div > div.bloglist {
  width: 100%;
}
/* line 37, ../sass/layout.sass */
#main_div > div.bloglist > a.one {
  display: block;
  background-color: #FFFFFF;
  margin: 30px 0;
  padding: 50px;
  border-radius: 2px;
  -moz-box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
  -webkit-box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
  box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
}
/* line 44, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div {
  width: 100%;
  overflow: hidden;
}
/* line 47, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div > * {
  float: left;
}
/* line 50, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div.title > h1 {
  font-size: 20px;
  padding-left: 40px;
  background-position: 0 0;
  color: #454f59;
}
/* line 55, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div.title > span {
  line-height: 22px;
  float: right;
  color: #858e97;
}
/* line 59, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div.content {
  padding: 20px 0 10px;
}
/* line 61, ../sass/layout.sass */
#main_div > div.bloglist > a.one > div.content > p {
  color: #858e97;
}
/* line 64, ../sass/layout.sass */
#main_div > div.bloglist > a.one:hover h1, #main_div > div.bloglist > a.one:hover p, #main_div > div.bloglist > a.one:hover span {
  text-decoration: underline;
}

/* line 67, ../sass/layout.sass */
header.page {
  background-color: #3a424d;
}
/* line 69, ../sass/layout.sass */
header.page > div {
  width: 1180px;
  height: 40px;
  margin: 0 auto;
}
/* line 73, ../sass/layout.sass */
header.page > div > h1 {
  height: 40px;
  line-height: 40px;
  float: left;
  color: #FFFFFF;
  font-size: 20px;
}

/* line 80, ../sass/layout.sass */
.blogiframe > .nav {
  padding: 30px 0;
}
/* line 82, ../sass/layout.sass */
.blogiframe > .nav > a {
  color: #858e97;
}
/* line 84, ../sass/layout.sass */
.blogiframe > .nav > a:hover {
  color: #34b27c;
}
/* line 86, ../sass/layout.sass */
.blogiframe > .nav > span {
  color: #454f59;
  padding: 0 10px;
}
/* line 89, ../sass/layout.sass */
.blogiframe > iframe {
  width: 100%;
  -moz-box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
  -webkit-box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
  box-shadow: 2px 0 1px rgba(226, 224, 227, 0.5), -2px 0 1px rgba(226, 224, 227, 0.5), 0 2px 1px rgba(226, 224, 227, 0.5), 0 -2px 1px rgba(226, 224, 227, 0.5);
}
