// tips文章
   Created by Jason on 15/12/15.
extends _layout
block title
    title 独特的游戏性——『黑魂三』
block meta
    meta(name="keywords" content="黑魂三,剧情,游戏性,游戏体验,游戏评测")
    meta(name="description" content="黑魂三,剧情,游戏性,游戏体验,游戏评测")
block blcoknav
    a(href="../index.html") 首页
    span >
    a(href="javascript:void(0)") 独特的游戏性——『黑魂三』
block iframe
    iframe(src="../iframe/DARKSOULS/独特的游戏性——《黑魂三》.html" marginheight="0" marginwidth="0" frameborder="0" id="iframepage" name="iframepage" onLoad="iFrameHeight()")